.THIS.blue {
    background-color: blue;
}

.THIS.white {
    background-color: white;
}

.THIS .red {
    background-color: red;
}

.THIS.red {
    background-color: red;
}


.THIS .blue {
    background-color: blue;
}

.THIS .green {
    background-color: green;
}

.THIS .greg {
    background-color: yellow;
}

.THIS .black {
    background-color: black;
}

.THIS.ghost {
    background-color: black;
}